.header {
  /* Color */
  background-color: #222831;

  /* Layout */
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;

  /* Positioning */
  position: fixed;
  z-index: 1;
  top: 0;

  /* Box styling */
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
}

.header-button {
  margin: 20px;
}