.main-banner {
  background-image: url('../assets/images/placeholder.png'); /* TODO: edit when done styling */

  /* Layout */
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  margin: 64px 0 0 0;
  padding: 100px 70px;
}

.title-box {
  /* Box Styling */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  /* Typography */
  font-size: 50px;
  font-weight: bold;
}

.subtitle {
  /* Typography */
  font-size: 25px;
}